<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>sexy-Chi-Ass</h1>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="login.html">
                        <button>Login</button></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="hero">
        <div class="heroContainer">
            <img src="https://cdn3d.iconscout.com/3d/premium/thumb/note-10714504-8662946.png" alt="hero">
        </div>
        <div class="heroForm">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="flashes">
                        {% for category, message in messages %}
                            <li class="flash {{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
         <form method="POST" action="{{ url_for('register_route') }}">
                <h2>Registration Form</h2>

                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" minlength="6" required>

                <button type="submit">Register</button>
            </form>

        </div>
    </section>
</body>
</html>
